@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Thin.ttf');
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf');
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Roboto+Slab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
}

.shift {
  margin-top: -100px;
  padding-top: 10px;
  background: #f8f9fa;
}



header.index-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/index-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.about-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/about/about-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.works-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/works/works-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.products-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/products/products-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.news-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/news/news-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}
header.contacts-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/contacts/contacts-header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}

header.notfound-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
    url('../assets/img/404/404.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 450px;
}

.card-bg-1 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}
.card-bg-2 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}
.card-bg-3 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../assets/img/index/card-3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: 0
}

.card-bg-4 {
  transition: background-position 2s;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url('../assets/img/calc/calc.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  border: 0
}

.card-bg-1:hover,
.card-bg-2:hover,
.card-bg-3:hover,
.card-bg-4:hover {
  background-position: top right;
}

.card-works-bg {
  transition: background-position 2s;
  cursor: pointer;
}

.content {
  padding-bottom: 70px;
  min-height: calc(100vh - 350px - 88px);
}

.text-justify {
  text-align: justify;
}

.footer {
  min-height: 88px;
  letter-spacing: 2px;
}

.row-okna-prices .col {
  align-self: flex-start;
}
.row-okna-prices .col .okna-item {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  border-radius: 0.375rem;
  overflow: hidden;
  padding-top: 0.50rem;
  padding-bottom: 0.25rem;
}
.row-okna-prices .col .img-wrap-ratio {
  width: 100%;
  max-height: 80px;
  line-height: 0;
}
.img-okna-ratio {
  width: 100%;
  height: auto !important;
  max-width: 100%;
  max-height: 80px; /* по умолчанию */
  object-fit: contain;
  display: block;
}
/* Первый ряд — макс. высота 40px */
.row-okna-prices .row-okna-first .img-wrap-ratio,
.row-okna-prices .row-okna-first .img-okna-ratio {
  max-height: 50px;
}
/* Нижний ряд — макс. высота 105px */
.row-okna-prices .row-okna-last .img-wrap-ratio,
.row-okna-prices .row-okna-last .img-okna-ratio {
  max-height: 100px;
}

.card-okna-caption {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}