@font-face {
  font-family: "OpenSansCondensed";
  src: url("./OpenSansCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansCondensed";
  src: url("./OpenSansCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSansCondensed";
  src: url("./OpenSansCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
